* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: #27ae60;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 250ms ease;
  position: absolute;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.dimension {
  width: 15rem;
  height: 15rem;
}

.btn {
  margin: 12rem 2rem;

  width: 7rem;
  height: 3rem;
}

.smaller {
  width: 5rem;
  height: 2rem;
}
